In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sn

In [3]:
data= pd.read_csv('Q9_b.csv')

In [4]:
from statsmodels import stats

In [5]:
data.describe()

       Unnamed: 0          SP         WT
count   81.000000   81.000000  81.000000
mean    41.000000  121.540272  32.412577
std     23.526581   14.181432   7.492813
min      1.000000   99.564907  15.712859
25%     21.000000  113.829145  29.591768
50%     41.000000  118.208698  32.734518
75%     61.000000  126.404312  37.392524
max     81.000000  169.598513  52.997752

In [6]:
data.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [7]:
data.kurtosis()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64